@import "styles/utils";

.hidden {
  position: absolute;
  top: -9999px;
}

.main {
  @include media(">tablet") {
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
